<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置-->
<configuration>
    <!--运行环境,可以配置多个运行环境，但是我们这里就需要一个，并且要与其中的一个环境的id对应上-->
    <environments default="development">
        <!--id可以自己命名-->
        <environment id="development">
            <!--事物管理器 默认使用JDBC进行事物管理-->
            <transactionManager type="JDBC"/>
            <!--配置数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=UTF-8&amp;useUnicode=true&amp;serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--对应的mybatis的xml文件-->
        <mapper resource="mapper/CartMapper.xml"/>
    </mappers>
</configuration>
