<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallschool.mapper.PersonalInfoMapper">
    <select id="selectAll" resultType="com.smallschool.entity.PersonalInfo">
        select * from personal_info
    </select>
</mapper>